.about-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4.5rem;
    min-height: 85vh;
    background-color: var(--black2);
    color: #fff;
    text-align: center;
}

.about-container .profil-pct{
    width: 100%;
    max-width: 300px;
    background-color: var(--white);
    border: solid 5px var(--black);
    border-radius: 50%;
}

.illustration{
    width: 400px;
    height: 400px;
}

.about-container p{
    font-size: 1.25rem;
    width: 100%;
    margin: 0.75rem 0;
}

.bold{
    font-weight: bold;
}
.about__text{
    color: #EDE9D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__text h1{
    
}
.red{
    color: var(--red);
}

.underline{
    text-decoration: underline;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icons img{
    padding: 0.5rem;
}