:root{
  --white: #f8e7cf;
  --black: #282828;
  --red: #ec684a
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courrier New', Courrier, monospace;
  background-color: var(--red);
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

